.sidebar {
    display: flex;
    flex-direction: column;
    max-width: 317px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    background: #FFFFFF;
    padding: 16px 24px;
    box-shadow: 0px 10px 40px rgba(29, 33, 38, 0.13), 0px 1px 2px rgba(29, 33, 38, 0.1);
    z-index: 2;
    transition: all .3s;
}

.sidebar.open {
    left: 0;
}

.background {
    background: #000000;
    opacity: 0.3;
    z-index: 2;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
}

.nav {
    padding: 23px 30px;
    display: flex;
    flex-direction: column;
}

.nav a {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    transition: all .3s;
}
.nav a:not(:last-child){
    margin-bottom: 45px;
}

.nav a:hover {
    color: #58ACFF;
}
.nav a:active {
    color: #3D6B99;
}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}
.close {
    align-self: flex-end;
}

.close img {
}


@media (max-width: 480px) {
    .sidebar {
        max-width: 100%;
    }
    .nav {
        align-items: center;
    }
    .nav a {
        font-size: 18px;
        line-height: 20px;
    }
    .nav a:not(:last-child){
        margin-bottom: 20px;
    }
}