.input:focus {
}

.input {
    width: 100%;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 8px 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
}

.errorInput {
    border-color: #CC1439;
}

.errorInput:focus {
}

.error {
    font-size: 10px;
    line-height: 12px;
    color: #CC1439;
    margin-bottom: 5px;
}
