.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 31px;
    max-width: 372px;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

@media (max-width: 776px) {
    .stand {
        flex-direction: column;
    }
    .inputs {
        max-width: 100%;
    }
}
