/*reset*/
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    /*// outline: none;*/
}

a:focus,
a:active {
    /*// outline: none;*/
}

html,
body {
    height: 100%;
}

body {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');
body,
body *{
    font-family: 'Montserrat';
}
.App{
    overflow: hidden;
    padding: 70px 0;
}

.App {
    --header_height: 60px;
}

.hw {
    position: relative;
    padding: 24px 0;
}

.hw:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 1000%;
    height: 1px;
    background-color:  #D9D9D9;
}
.hw:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -100%;
    width: 1000%;
    height: 1px;
    background-color:  #D9D9D9;
}

.hwWrapp{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 30px;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}